/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}

img {
  height: auto;
  width: 100%;
}

#output {
  display: inline-block;
}

#output img {
  /* height: 25%; */
  width: 30%;
  padding: 4px;
  object-fit: cover;
  max-height: 250px;
  vertical-align: middle;
  margin-top: 25px;
  margin-left: 3px;
  margin-right: 3px;
}

#weather {
  color: white;
  max-height: 250px;
  padding: 4px;
  min-width: 60%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#pac-input {
  background: white;
  color: black;
  width: 30%;
  height: 28px;
  margin-top: 10px;
  padding-left: 5px;
}

#pac-input:focus {
  border-bottom: none !important;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 992px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.dayBlock {
  display: inline-block;
  padding: 25px;
  text-align: center;
  border: 2px solid turquoise;
}

.error {
  color: #f44336;
  display: none;
}

#recentSearches {
  text-transform: capitalize;
}
